<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Harta bibliotecilor din România</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css">
    <style>
      html, body, #map { height: 100%; margin: 0; }
      .edit-saving-message { display: none; }
      .edit-saving .edit-saving-message { display: block; }
      .edit-saving .form-group { display: none; }
      .edit-saving .modal-footer button { display: none; }
      #auth { position: absolute; top: 0; right: 0; padding: 5px;
              background: #fff; border: 2px solid #999; }
      #auth .picture { max-width: 30px; }
      .login-text { display: none; }
      .no-auth .login-text { display: block; }
      .no-auth #edit .form-group { display: none; }
      .no-auth #edit .modal-footer button { display: none; }
    </style>
  </head>

  <body class="{{ 'auth' if identity else 'no-auth' }}">
    <div id="map"></div>

    <div id="auth">
      {% if identity %}
        {{ identity['name'] }}
        <img src="{{ identity['picture'] }}" class="picture">
        <a class="btn btn-default btn-xs"
           href="{{ url_for('logout') }}">logout</a>
      {% else %}
        <a class="btn btn-primary btn-xs"
           data-toggle="modal" data-target="#edit-modal">login</a>
      {% endif %}
    </div>

    <div class="modal fade" id="edit-modal" tabindex="-1"
         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <form class="modal-dialog form-horizontal" id="edit">
        <div class="modal-content">
          <div class="modal-header">
            <button data-dismiss="modal" aria-hidden="true"
                    type="button" class="close">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Editare</h4>
          </div>
          <div class="modal-body">
            {% for field in form %}
              {% if field.widget.input_type == 'hidden' %}
                {{ field }}
              {% else %}
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="{{ field.id }}">
                    {{- field.label }}</label>
                  <div class="col-sm-10">
                    {{ field(class='form-control') }}
                  </div>
                </div>
              {% endif %}
            {% endfor %}
            <input type="hidden" name="lat">
            <input type="hidden" name="lng">
            <p class="edit-saving-message">
              Se salvează ...
            </p>
            <div class="progress progress-striped active edit-saving-message">
              <div class="progress-bar"  role="progressbar" aria-valuenow="100"
                   aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="sr-only">se salvează</span>
              </div>
            </div>
            <p class="login-text">
              Pentru editare vă rugăm să vă autentificați folosind contul
              Google. Numele și adresa de email vor fi salvate în istoria
              modificărilor bazei de date.<br>
              <a class="btn btn-primary"
                 href="{{ url_for('login') }}">login cu google</a>
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default"
                    data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script>
      var map = L.map('map').fitBounds([[48.17, 20.06], [43.50, 29.67]]);
      var editor_is_new;
      var new_latlng;
      var feature;

      L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="http://osm.org/copyright">' +
                       'OpenStreetMap</a> contributors'
      }).addTo(map);

      var layer = L.geoJson([]);
      layer.addTo(map);

      function show_editor(feature, is_new) {
        editor_is_new = is_new;
        var set = function(input) {
          input.val(feature.properties[input.attr('name')]);
        };
        $('#edit .form-control').each(function(n, el) { set($(el)); });
        set($('#edit [name=id]'));
        set($('#edit [name=lat]'));
        set($('#edit [name=lng]'));
        $('#edit-modal').modal();
      }

      function renderPropertiesTable(properties) {
        var table = $('<table class="properties">');
        _.forEach(properties, function(value, key) {
          if(value) {
            $('<tr>').appendTo(table).append(
              $('<th>').text(key),
              $('<td>').text(value)
            );
          }
        });
        return $('<div>').append(table).html();
      }

      $.get({{ url_for('.data')|tojson|safe }}, function(data) {
        layer.addData(data);
        layer.on('click', function(evt) {
          feature = evt.layer.feature;
          var latlng = evt.layer.getLatLng();
          var button = $('<button class="edit-btn">editare</button>');
          var content = $('<div>').append(
            renderPropertiesTable(feature.properties),
            '<br>', button);
          var popup = L.popup().setLatLng(latlng).setContent(content[0]);
          popup.openOn(map);
          button.click(function(evt) {
            evt.preventDefault();
            console.log('button click');
            map.closePopup();
            show_editor(feature, false);
          });
        });
      });

      map.on('contextmenu', function(evt) {
        new_latlng = evt.latlng;
        var new_feature = {
          properties: {id: -1, lat: evt.latlng.lat, lng: evt.latlng.lng}};
        show_editor(new_feature, true);
      });

      $('#edit').submit(function(evt) {
        evt.preventDefault();
        var data = $(this).serializeArray();
        $('#edit').addClass('edit-saving');
        $.post({{ url_for('.save')|tojson|safe }}, data, function(response) {
          if(response.ok) {
            $('#edit-modal').modal('hide');
            if(editor_is_new) {
              layer.addData([response.feature]);
            }
            for(var n = 0; n < data.length; n ++) {
              var kv = data[n];
              feature.properties[kv.name] = kv.value;
            }
          }
          else {
            alert("A avut loc o eroare la salvare :(");
          }
          $('#edit').removeClass('edit-saving');
        });
      });
    </script>
  </body>
</html>
