<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css">
    <style>
      html, body, #map { height: 100%; margin: 0; }
      .edit-saving-message { display: none; }
      .edit-saving .edit-saving-message { display: block; }
      .edit-saving .form-group { display: none; }
    </style>
  </head>

  <body>
    <div id="map"></div>

    <div class="modal fade" id="edit-modal" tabindex="-1"
         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <form class="modal-dialog form-horizontal" id="edit">
        <div class="modal-content">
          <div class="modal-header">
            <button data-dismiss="modal" aria-hidden="true"
                    type="button" class="close">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            {% for field in form %}
              {% if field.widget.input_type == 'hidden' %}
                {{ field }}
              {% else %}
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="{{ field.id }}">
                    {{- field.label }}</label>
                  <div class="col-sm-10">
                    {{ field(class='form-control') }}
                  </div>
                </div>
              {% endif %}
            {% endfor %}
            <p class="edit-saving-message">
              Se salvează ...
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default"
                    data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script>
      var map = L.map('map').fitBounds([[48.17, 20.06], [43.50, 29.67]]);

      L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="http://osm.org/copyright">' +
                       'OpenStreetMap</a> contributors'
      }).addTo(map);

      $.get({{ url_for('.data')|tojson|safe }}, function(data) {
        var layer = L.geoJson(data);
        layer.addTo(map);
        layer.on('click', function(evt) {
          var properties = evt.layer.feature.properties;
          var set = function(input) {
            input.val(properties[input.attr('name')]);
          };
          $('#edit .form-control').each(function(n, el) { set($(el)); });
          set($('#edit [name=id]'));
          $('#edit-modal').modal();
        });
      });

      $('#edit').submit(function(evt) {
        evt.preventDefault();
        var data = $(this).serializeArray();
        $('#edit').addClass('edit-saving');
        $.post({{ url_for('.save')|tojson|safe }}, data, function(response) {
          if(response.ok) {
            $('#edit-modal').modal('hide');
          }
          else {
            alert("A avut loc o eroare la salvare :(");
          }
          $('#edit').removeClass('edit-saving');
        });
      });
    </script>
  </body>
</html>
